@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Sora:wght@100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html {
    background-color: #1C1C1C;
    margin: 0px;
    padding: 0px;
    font-size: 62.5%; 
}


body{
    display: grid;
    grid-template-rows: 110px calc(100% - 411px) 311px;
}


header {
    grid-row: 1/1;
    display: grid;
    grid-template-columns: auto auto auto 800px;
    grid-template-rows: 100px;

    border-bottom: 5px solid #6AA84F;
}
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
header img{
    height: 100px;
    width: 100px;
}
header h1{
    justify-self: center;
    font-weight: 600;
    margin-left: 15px;
}

header nav{
    grid-column: 4/4;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav a {
  border-left: 0px solid transparent; 
  border-bottom: 0px solid transparent; 
  padding: 10px;
  transition: border 0.5s; 
}

header nav a:hover {
  border-left: 5px solid #FFFFFF;
  border-bottom: 5px solid #FFFFFF; 
}

.navSeleccionado {
    border-left: 5px solid #6AA84F;
    border-bottom: 5px solid #6AA84F;
    color: #6AA84F !important;
}


main {
    grid-row: 2/2;
}


.TextoLogo {
    color: #6AA84F;
    font-family: "Sora", sans-serif;
    font-size: 5rem;
    padding-left: 10px;
    transition: border 0.5s; 
    border-left: 5px solid #6AA84F;
    border-bottom: 5px solid #6AA84F;
}

.textoCodigo {
    color: #6AA84F;
    font-family: Consolas, "Source Code Pro", monospace;
}

.textoBasico {
    color: #FFFFFF;
    font-family: "Sora", sans-serif;
    font-size: 3rem;
    line-height: 4rem;
}
.headText {
    color: #6AA84F;
    font-family: "Sora", sans-serif;
    font-size: 1.75rem;
}

.textoTitulo{
    font-size: 5rem;
}

.textoNav {
    text-decoration: none;
    font-size: 3rem;
}


@media only screen and (max-width: 1325px) {

    body{
        grid-template-rows: 175px auto auto;
    }
    header {
        grid-template-columns: 5px auto 5px;
        grid-template-rows: 95px 75px;
    }
    header div{
        grid-column: 2/2;
        justify-content: center;
    }
    .TextoLogo{
        margin-top: 0px;
        margin-bottom: 0px;
        align-content: center;
        font-size: 8rem;
    }
    header nav{
        grid-column: 2/2;
        grid-row: 2/2;
    }

}
@media only screen and (max-width:980px) {
    body{
        grid-template-rows: 330px auto auto;
    }
    header {
        grid-template-rows: 140px 180px;
    }
    header img{
        width: 120px;
        height: 120px;
    }
    header nav{
        flex-wrap: wrap;
    }
    .textoNav{
        margin-top: 10px;
        font-size: 6rem;
    }
    .textoNav{
        margin-right: 15px;
        margin-left: 15px;
    }
    .textoTitulo{
        font-size: 7rem;
    }
}

