footer{
    border-top: 5px solid #6AA84F;
    
    display: flex;
    flex-direction: column;
}

.contenedorModulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedorModulos div:not(.BanderaLenguaje){
    max-width: 460px;
    min-width: 350px;
    max-height: 380px;
    min-height: 250px;
    margin-left: 5px;
}

footer .textoCodigo{
    font-size: 3rem;
    margin-bottom: 15px;
}

footer a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
    width: 280px;
    text-decoration: none;
}
footer a:hover svg{
    fill: #6AA84F;
}
footer a p, .BanderaLenguaje p{
    margin-left: 15px;
}
footer a:hover p{
    color: #6AA84F; 
}


.iconSN{
    height: 50px;
    width: 50px;
    color: #FFFFFF;
    fill: currentColor;
}

.BanderaLenguaje{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
    width: 280px;
    text-decoration: none;

    cursor: pointer;
}
.BanderaLenguaje svg{
    transition: 0.5s;
}
.BanderaLenguaje:hover p{
    color: #6AA84F; 
}
.BanderaLenguaje:hover svg{
    height: 52.5px;
    width: 52.5px;
    transition: 0.5s;
}
.copyright{
    color: #6AA84F;
    font-family: "Sora", sans-serif;
    grid-column: 1/1;
    grid-row: 2/2;
    width: 250px;
    margin-top: 30px;
    font-size: 2rem;
}


@media only screen and (max-width: 980px) {
    .contenedorModulos{
        justify-content: center;
    }
    .contenedorModulos div:not(.BanderaLenguaje){
        max-width: 470px;
        min-width: 350px;
        max-height: 500px;
        min-height: 250px;
        margin-left: 5px;
    }
    footer .textoCodigo{
        font-size: 5.5rem;
        text-align-last: center;
    }
    footer a, .BanderaLenguaje{
        height: 160px;
        width: 480px;
        justify-content: center;
    }
    footer .iconSN, .BanderaLenguaje svg{
        height: 120px;
        width: 120px;
    }
    footer a p, .BanderaLenguaje p{
        font-size: 5rem !important;
    }
    footer a p, .BanderaLenguaje p {
        margin-left: 30px;
    }
    .copyright{
        font-size: 4rem;
        width: 460px;
    }
}
