.IndexPage {
    display: grid;
    grid-template-rows: 36.520px 250px 275px 275px;
    grid-template-columns: 5% 890px 100px auto auto 5%;
}

.IndexSlogan {
    grid-column: 2/6;
    grid-row: 2/2;
}
.IndexAnimation {
    grid-column: 4/6;
    grid-row: 2/4;
}

.IndexTexto01 {
    grid-column: 2/2;
    grid-row: 3/3;
}
.IndexTexto02 {
    grid-column: 2/4;
    grid-row: 4/4;
}

.IndexTexto01, .IndexTexto02{
    margin: 0px 15px 25px 15px;
}

.IndexTexto01 h3, .IndexTexto02 h3{
    font-size: 3rem;
}

.textoSlogan {
    font-size: 5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1720px) {
    .IndexAnimation {
        grid-column: 3/6;
        grid-row: 2/4;
    }
    .IndexSlogan{
        grid-column: 2 / 2;
    }
}

@media only screen and (max-width: 1325px) {
    .IndexPage{
        grid-template-rows: 25px auto auto auto auto;
        grid-template-columns: 15px auto 15px;
    }

    .IndexAnimation {
        grid-column: 2/2;
        grid-row: 3/3;
    }
    dotlottie-player{
        height: 500px;
        width: 500px;
        margin: auto;
    }

    .IndexTexto01 {
        grid-column: 2/2;
        grid-row: 4/4;
    }
    .IndexTexto02 {
        grid-column: 2/2;
        grid-row: 5/5;
    }
    
}

  @media only screen and (max-width: 980px) {
    .textoSlogan{
        font-size: 6rem;
    }
    .IndexTexto01 p, .IndexTexto02 p{
        margin-bottom: 25px;
    }
  }
