.softwarePage{
    display: grid;
    grid-template-columns: 2.5% 300px auto 314px 2.5%;
    grid-template-rows: 80px auto 50px ;
    margin-top: 25px;
}
.softwarePage h2{
    grid-column: 2 / 4;
    margin: auto 0px;
}
.searchSoftware{
    grid-column: 4/4;
    margin: auto;
    border: 5px solid #6AA84F;
    background-color: transparent;
    height: 60px;
    width: 300px;
    font-size: 2rem;
    padding-left: 10px;
    color: #FFFFFF;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
.sectionCategories{
    grid-column: 2/2;
    grid-row: 2/2;
    border-top: 5px solid #6AA84F;
    border-right: 5px solid #6AA84F;
}
.headCategories{
    border-bottom: 5px solid #6AA84F;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px;
    text-align-last: center;
    font-size: 4rem;
}
.categorie{
    color: #FFFFFF;
    font-family: Consolas;
    font-size: 2.5rem;
    margin: 10px 0px;
}
.groupCategorie{
    color: #6AA84F;
    font-family: Consolas;
    font-size: 2.5rem;
    border-bottom: 5px solid #6AA84F;
    border-left: 5px solid #6AA84F;
    margin: 10px 0px;
    padding-left: 7.5px;
}
.categorieNumbers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.categorieNumbers p:first-child{
    margin-left: 12.5px;
}
.categorieNumbers p:last-child{
    margin-right: 12.5px;
}
.categorieNumbers:hover p{
    color: #6AA84F;
    transition: 0.5s;
}



.moduleLatestReleases{
    grid-column: 3/5;
    grid-row: 2/2;
    border-top: 5px solid #6AA84F;
    padding-left: 25px;
}
.moduleLatestReleases h3{
    font-size: 3rem;
}

.moduleSoftware{
    grid-column: 2/5;
    grid-row: 2/2;
    display: none;
    grid-template-columns: 625px auto;
    grid-template-rows: auto;
    border-top: 5px solid #6AA84F;
    padding-left: 25px;
    padding-top: 25px;
}
.moduleSoftware img:not(a img){
    height: 438px;
    width: 600px;
}
.moduleSoftware .dataSoftware{
    margin-bottom: -20px;
}
.dataSoftware .correctData{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
}
.dataSoftware .correctData p:last-child{
    margin-left: 10px;
}
.moduleSoftware .downloadSoftware{
}
.downloadSoftware h3{
    margin-bottom: 10px;
    font-size: 3rem;
}
.downloadSoftware p{
    margin: 10px 0px;
}
.downloadSoftware .downloadOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.downloadOptions img{
    width: 200px;
    height: 66px;
    transition: 0.1s;
}
.downloadOptions img:hover{
    transform: scale(1.10);
    transition: 0.1s;
}

.moduleSoftware .descriptionSoftware{
    text-align: justify;
    text-justify: inter-character;
}
.moduleSoftware .changelogSoftware{

}
.changelogSoftware h3{
    font-size: 3rem;
}
.versionText{
    font-size: 2rem;
}

.moduleListsoftware{
    display: none;
    grid-column: 3/5;
    grid-row: 2/2;
    flex-direction: column;
    border-top: 5px solid #6AA84F;
    padding-left: 25px;
}
.moduleListsoftware h3{
    font-size: 3rem;
}
.softwareMini{
    display: grid;
    grid-template-columns: 310px auto;
    margin-bottom: 30px;
    cursor:pointer;
}
.softwareMini img{
    height:219px;
    width: 300px;
    object-fit: cover;
    margin: auto;
}
.softwareInfoMini{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.softwareMini:not(:hover){
    transition: 1s;
}
.softwareMini:hover{
    padding-left: 15px;
    background-color: #1C1C1C;
    background-color: rgba(107, 104, 104, 0.1); 
    transition: 1s;
}
.softwareInfoMini h4{
    font-size: 3rem;
    margin: 5px 0px;
}
.softwareInfoMini p{
    margin: 5px 0px;
}
.catefogioresOfSoftware{
    display: flex;
    flex-direction: row;
}
.catefogioresOfSoftware p{
    font-size: 2.65rem;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.moduleLatestReleases{
    display: flex;
    flex-direction: column;
}
.LatestRelease01{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 500px auto;
}
.LatestRelease02{
    margin-top: 15px;
}

.LatestRelease01 h4{
    grid-column: 2/2;
    cursor: pointer;
    width: auto;
    font-size: 3rem;
}
.LatestRelease01 .bannerProject{
    grid-column: 1/1;
    grid-row: 2/2;
    height: 357px;
    width: 500px;
    cursor: pointer;
}

.infoLastestRelease01{
    grid-column: 2/2;
    grid-row: 2/2;

    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}
.infoLastestRelease01 h4{
    color: #FFFFFF;
    font-family: "Sora", sans-serif;
    margin: 10px 0px;
}


.principalOptionsDownload{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 230px;
    border-top: 5px solid #6AA84F;
}
.principalOptionsDownload img{
    width: 200px;
    height: 66px;
    transition: 0.1s;
}
.principalOptionsDownload img:hover{
    transform: scale(1.10);
    transition: 0.1s;
}

.modalFrame{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
}
.modalError{
    background-color: #1C1C1C;
    margin: 10% auto; 
    padding: 20px;
    border: 5px solid #6AA84F;
    width: 50%; 
    height: 50%;
    display: flex;
    flex-direction: column;
}
.modalError h2{
    font-size: 4rem;
}
.modalError p{
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0px 0px;
}
.modalError button{
    border: 5px solid #6AA84F;
    background-color: transparent;
    color: #6AA84F;
    width: 250px;
    height: 100px;
    cursor: pointer;
    place-self: center;
    margin-top: 100px;
}
.modalError button:not(:hover){
    transition: 1s;
}
.modalError button:hover{
    background-color: #1C1C1C;
    background-color: rgba(255, 255, 255, 0.1); 
    transition: 1s;
}
.modalError button p{
    font-size: 3rem;
}

@media only screen and (max-width: 980px) { 

    .moduleLatestReleases{
        padding-left: 10px;
    }
    .LatestRelease01{
        grid-template-rows: 520px;
        grid-template-columns: auto;
    }
    .LatestRelease01 h4{
        grid-column: 2/2;
        cursor: pointer;
        width: auto;
        font-size: 4rem;
    }
    .LatestRelease01 .bannerProject{
        grid-column: 1/1;
        grid-row: 1/1;
        height: 500px;
        width: 700px;
        cursor: pointer;
        justify-self: center;
    }
    .infoLastestRelease01{
        grid-column: 1/1;
        grid-row: 2/2; 
    }

    .softwareMini{
        grid-template-columns: auto;
        grid-template-rows: 450px auto;
    }
    .softwareMini img{
        height: 438px;
        width: 600px;
    }
    .softwareMini:hover{
        padding-left: 0px;
    }

    .moduleSoftware{
        grid-template-columns: auto;
    }
    .moduleSoftware img:not(a img){
        height: 440px;
        width: 600px;
        margin-bottom: 35px;
        align-self: center;
    }


    .softwarePage{
        grid-template-rows: 100px auto auto auto 50px;
        grid-template-columns: 5% auto 400px 5%;
    }
    .softwarePage h2 {
        grid-column: 2/4;
        grid-row: 1/1;
    }
    .searchSoftware{
        grid-column: 2/4;
        grid-row: 2/2;
        width: 100%;
        height: 110px;
        font-size: 5em;
        margin: 10px 0px;
    }
    .sectionCategories{
        grid-column: 2/4;
        grid-row: 3/3;
        border-right: none;
    }
    .headCategories{
        border: none;
        font-size: 6rem;
    }
    .groupCategorie {
        font-size: 5.5rem;
    }
    .categorie{
        font-size: 5rem;
    }
    .moduleLatestReleases, .moduleSoftware, .moduleListsoftware{
        grid-column: 2/4;
        grid-row: 4/4;
    }

    .moduleLatestReleases h3{
        font-size: 5rem;
    }

    .principalOptionsDownload img{
        margin-top: 25px;
        width: 600px;
        height: 200px;
    }
    .principalOptionsDownload img:hover {
    }

    .softwareMini h4{
        font-size: 3.5rem;
    }
    .catefogioresOfSoftware p{
        font-size: 3rem;
    }

    .moduleListsoftware h3{
        font-size: 5rem;
    }

    
    .softwareLeft{
        grid-row: 1/1;
    }
    .softwareRight{
        grid-row: 2/2;
        display: flex;
        flex-direction: column;
    }
    .dataSoftware .correctData{
        margin-bottom: 20px;
    }
    .dataSoftware .correctData p{
        font-size: 4rem;
    }
    .downloadSoftware h3{
        font-size: 6rem;
    }
    .downloadSoftware .downloadOptions{
        margin-top: 35px;
        flex-direction: column;
    }
    .downloadSoftware .downloadOptions a:first-child{
        margin-bottom: 50px;
    }
    .downloadSoftware .downloadOptions img{
        width: 400px;
        height: 132px;
    }
    .changelogSoftware {
        display: none;
    }
    .changelogSoftware h3{
        font-size: 4rem;
    }
    .versionText{
        font-size: 3rem;
    }



    .modalError{
        display: grid;
        grid-template-rows: auto auto auto auto 300px;
        margin: 15% auto; 
        width: 75%; 
        min-height: 500px;
    }
    .modalError h2{
        font-size: 5rem;
    }
    .modalError p{
        font-size: 3rem;
        line-height: 4rem;
    }
    .modalError button{
        width: 400px;
        height: 150px;
        grid-row: 5/5;
        margin-bottom: 50px;
    }

    .modalError button p{
        font-size: 4rem;
    }
}

