<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="shortcut icon" href="../favicon.png">
    <title>Contact - Kolib Software</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Base.css">
    <script src="main.js" type="module"></script>
</head>

<body>
    <header>
        <img src="../assets/Images/LogoHD.png" />
        <h1 class="TextoLogo">Kolib Software</h1>

        <nav>
            <a class="textoBasico textoNav" href="../index.html">Home</a>
            <a class="textoBasico textoNav" href="products.html">Products</a>
            <a class="textoBasico textoNav" href="about.html">About</a>
            <a class="textoBasico textoNav navSeleccionado" href="contact.html">Contact</a>
            <a class="textoBasico textoNav" href="policy.html">Policy</a>
        </nav>

    </header>
    <main>
        <article class="document">
            
            <h2 class="textoCodigo textoTitulo"> // WIP </h2>
            
        </article>
    </main>
</body>

</html>