<!DOCTYPE html>
<html>

<head>

    <!-- Info Web -->

    <title>Products - Kolib Software</title>

    <meta name="description"
        content="Explore our range of innovative software solutions. From development tools to enterprise applications, Kolib Software has what you need.">
    <meta name="keywords" content="develop, industry, software, kolib">
    <meta name="author" content="Kolib People">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.png">
    <link rel="canonical" href="https://dev.kolibsoftware.com/products.html">

    <!-- CSS -->

    <link rel="stylesheet" href="../CSS/Base.css">
    <link rel="stylesheet" href="../CSS/ScrollBar.css">

    <!-- Open Graph Meta tags -->

    <meta property="og:title" content="Products - Kolib Software">
    <meta property="og:description"
        content="Explore our range of innovative software solutions. From development tools to enterprise applications, Kolib Software has what you need.">
    <meta property="og:image" content="https://dev.kolibsoftware.com/assets/Images/LogoHD.png">
    <meta property="og:url" content="https://dev.kolibsoftware.com/products.html">
    <meta property="og:type" content="website">

    <!-- Twitter Card Tags -->

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Products - Kolib Software">
    <meta name="twitter:description"
        content="Explore our range of innovative software solutions. From development tools to enterprise applications, Kolib Software has what you need.">
    <meta name="twitter:image" content="https://dev.kolibsoftware.com/assets/Images/LogoHD.png">

    <!-- JavaScript modules -->

    <script src="../JS/Locale.js" type="module"></script>
</head>

<body>
    <header>
        <img src="../assets/Images/LogoHD.png" />
        <h1 class="TextoLogo">Kolib Software</h1>

        <nav>
            <a class="textoBasico textoNav" href="../index.html" data-locale="text=home">Home</a>
            <a class="textoBasico textoNav navSeleccionado" href="products.html" data-locale="text=products">Products</a>
            <a class="textoBasico textoNav" href="about.html" data-locale="text=about">About</a>
            <a class="textoBasico textoNav" href="contact.html" data-locale="text=contact">Contact</a>
            <a class="textoBasico textoNav" href="policy.html" data-locale="text=policy">Policy</a>
        </nav>

    </header>
    <main>
        <article class="document">
            
            <h2 class="textoCodigo textoTitulo"> // WIP </h2>
            
        </article>
    </main>
</body>

</html>